<div class="editable-text bg-white rounded-xl">
  <div *ngIf="!isEditing" (click)="enableEdit()" class="text-display">
    {{ text }}
  </div>

  <div *ngIf="isEditing" class="input-container">
    <input [(ngModel)]="updatedText" (ngModelChange)="handleChange($event)" type="text" class="text-input" />
    <svg
      (click)="saveText()"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-green-500 cursor-pointer hover:text-green-700"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
    </svg>

    <svg
      (click)="cancelEdit()"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-red-500 cursor-pointer hover:text-red-700"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>
</div>
