<div (click)="toggleInformation()"
     class="flex flex-col hover:cursor-pointer bg-white rounded-lg shadow-lg p-4 transition duration-300 ease-in-out hover:shadow-xl border border-gray-300 max-h-64">

  <div class="flex flex-col">
    <div class="flex flex-row justify-center items-center w-full">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 leading-tight relative w-full flex flex-row justify-between select-none">
        <span class="bg-clip-text max-w-[66%]">
          {{ card.question }}
        </span>

        <div class="flex flex-wrap justify-start items-center space-x-2">

          @if (!isMobile) {
            <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
              {{ card.difficulty | difficulty | titlecase }}
            </span>
            <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
              {{ card.type | cardType | titlecase }}
            </span>
          }
          <a routerLink="/manage/card" [queryParams]="{deckId: deck.id, cardId: card.id}" class="hover:cursor-pointer">
            <ng-icon name="heroPencil" size="16"></ng-icon>
          </a>
        </div>
      </h1>
    </div>
  </div>

  @if (information) {

    @if (isMobile) {
      <div class="flex flex-row flex-wrap space-x-2 mt-2">
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
        {{ card.difficulty | difficulty | titlecase }}
      </span>
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
        {{ card.type | cardType | titlecase }}
      </span>
      </div>
    }

    <p class="mt-2 md:mt-4 text-gray-700 text-center overflow-y-hidden">{{ card.information }}</p>
  }
</div>
