



@if (session) {
  @if (!playing) {
    <div class="w-full h-full flex flex-grow flex-col items-center">
      <div class="w-1/2 mt-5">
        <app-deck-preview [deck]="session.deck"></app-deck-preview>
      </div>
      <button (click)="start()" class="px-4 py-2 rounded-lg bg-white shadow-xl mt-5 w-1/5 hover:shadow-2xl">
        Start
      </button>
    </div>
  } @else {
    <div class="w-full h-full flex flex-col flex-grow">
      <div class="h-1/12 flex flex-row justify-between items-center p-4">
        <app-timer [startDate]="session.start"></app-timer>

        <!-- Correct and Mistakes Buttons -->
        <div class="flex space-x-4">
          <button class="px-4 py-2 rounded-lg bg-green-500 text-white shadow-lg hover:shadow-2xl">
            Correct: {{ correct }}
          </button>
          <button class="px-4 py-2 rounded-lg bg-red-500 text-white shadow-lg hover:shadow-2xl">
            Mistakes: {{ incorrect }}
          </button>
        </div>
      </div>

      <!-- Progress Bar -->
      <div class="h-2 bg-gray-200 rounded-full mt-2 mx-5">
        <div class="h-full bg-pink-500 rounded-full" [style.width.%]="progress"></div>
      </div>

      <!-- Space between Progress Bar and Cards -->
      <div class="mt-4"></div> <!-- Adds space between the bar and the card display -->

      <div class="h-full">
        @let card = currentCard();
        @if (card) {
          @switch (card.type) {
            @case (CardType.STANDARD) {
              <app-standard-card [card]="card" (answerSubmitted)="answerCard(card.id, $event)"></app-standard-card>
            }
            @case (CardType.MULTI) {
              <app-multi-card [card]="card" (answersSubmitted)="answerCard(card.id, $event)"></app-multi-card>
            }
          }
        } @else {
          no cards??
        }
      </div>
    </div>
  }
} @else {
  <div class='flex space-x-2 justify-center items-center bg-gray-50 dark:bg-gray-900'>
    <span class='sr-only'>Loading...</span>
    <div class='h-4 w-4 bg-black rounded-full animate-bounce [animation-delay:-0.3s]'></div>
    <div class='h-4 w-4 bg-black rounded-full animate-bounce [animation-delay:-0.15s]'></div>
    <div class='h-4 w-4 bg-black rounded-full animate-bounce'></div>
  </div>
}
