

@if (editMode) {
  <form (ngSubmit)="submit()" [formGroup]="form"
    class="flex flex-col bg-white rounded-lg shadow-lg p-4 transition duration-300 ease-in-out hover:shadow-xl border border-gray-300 h-64">
    <div class="flex flex-col">
      <div class="flex flex-row justify-center items-center w-full">
        <div class="text-2xl font-bold text-gray-900 dark:text-gray-100 leading-tight mb-2 pb-4 relative w-full">
          <input
            id="question"
            name="title"
            type="text"
            required
            [ngModel]="card.question"
            [value]="card.question"
            class="mt-1 block w-full border border-gray-300 rounded-md p-2 bg-gray-100 text-gray-800 focus:border-blue-500 focus:ring focus:ring-blue-500"
            placeholder="Enter question"
          />
          <span class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-purple-500 to-pink-500 dark:from-purple-400 dark:to-pink-400"></span>
        </div>
      </div>

      <div class="flex flex-wrap justify-start mt-2 space-x-2">
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
          {{ card.difficulty }}
        </span>
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
          {{ card.type }}
        </span>
      </div>
    </div>

    <p class="mt-4 text-gray-700 text-center overflow-y-hidden">{{ card.information }}</p>
  </form>
} @else {
  <div class="flex flex-col bg-white rounded-lg shadow-lg p-4 transition duration-300 ease-in-out hover:shadow-xl border border-gray-300 h-64">
    <div class="flex flex-col">
      <div class="flex flex-row justify-center items-center w-full">
        <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 leading-tight mb-2 pb-4 relative w-full">
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 dark:from-purple-400 dark:to-pink-400">
            {{card.question}}
          </span>
          <span class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-purple-500 to-pink-500 dark:from-purple-400 dark:to-pink-400"></span>
        </h1>
      </div>

      <div class="flex flex-wrap justify-start mt-2 space-x-2">
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
          {{ card.difficulty }}
        </span>
        <span class="bg-gray-200 text-black rounded-full px-3 py-1 text-sm font-semibold">
          {{ card.type }}
        </span>
      </div>
    </div>

    <p class="mt-4 text-gray-700 text-center overflow-y-hidden">{{ card.information }}</p>
  </div>
}
